body, head{
	background:#EFEAE9;
	text-align: center;
  height: 35px;
	
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 18%;
  background-color: #1a1a1a;
  position: fixed;
  height: 100%;
  font-size: 20px;
  font-family: monospace;
  overflow: auto;
  float:right;
  text-align: center;
  

}

li a {
  display: block;
  color: #ffffff;
  padding: 15px 15px;
  text-decoration: none;
}

li a.active {
  background-color: #99ddff;
  color: white;
}

li a:hover:not(.active) {
  background-color: #66b3ff;
  color: white;
}

h1,h2,p,footer {color:darkblue}

h1 {font-size: 50px}



button {
  color: black;
  text-align: top;
  font-size: 25px;    
  float:right;
  margin-right:20px;
  background:#06F}




a{
	text-align: center;





#mySVG {
  position: fixed;
  top: 15%;
  width: 400px;
  height: 210px;
  margin-left:-50px;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


