body {
	background:#EFEAE9;
	text-align: center;
	
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 22%;
  background-color: #1a1a1a;
  position: fixed;
  height: 100%;
  font-size: 20px;
  font-family: monospace;
  overflow: auto;
  float:right;
  text-align: center;

}

li a {
  display: block;
  color: #ffffff;
  padding: 15px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #99ddff;
  color: white;
}

li a:hover:not(.active) {
  background-color: #66b3ff;
  color: white;
}

h1,h2,p,footer {color:darkblue}

h1 {font-size: 50px}



button {
  color: black;
  text-align: top;
  font-size: 25px;    
  float:right;
  margin-right:20px;
  background:#06F}


a{
	text-align: center;


