* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #101010;
}

.author {
    text-align: center;
    display: block;
    color: #e5e5e544;
    margin: 50px 0;
    font-size: 10px;
    font-family: sans-serif;
}

#images {
    overflow: auto;
    background: #fff;
    padding: 15vh 0 5vh;
    display: flex;
    justify-content: space-evenly;

    img {
        border-radius: 25px 25px 0 0;
        width: 100%;
        display: block;
        height: 100px;
        object-fit: cover;
        object-position: center;
    }

    i {
        display: block;
        padding: 5px 15px 20px;
        text-align: center;
    }

    a {
        min-width: 125px;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 25px;
        box-shadow: 0 0 10px -5px #348AC7;
        font-family: sans-serif;
        display: block;
        background: -webkit-linear-gradient(left, #eb3349, #f45c43);
        color: #fff;
        transition: 0.25s;
        transform: scale(1);

        &:hover {
            transform: scale(1.025);
            -webkit-transform: scale(1.025);
            -moz-transform: scale(1.025);
            -ms-transform: scale(1.025);
            -o-transform: scale(1.025);
        }
    }
}

#download {
    cursor: pointer;
    background: -webkit-linear-gradient(left, #00f, #0ff);
    padding: 15px;
    width: 95%;
    font-weight: bold;
    font-size: 22px;
    max-width: 560px;
    margin: 25px auto 0;
    display: block;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: .1vw;
    border-radius: 55px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    background-size: 600px;

    &:hover {
        letter-spacing: .2vw;
        background-size: 600px;
    }
}

[hide="true"] {
    display: none !important;
}

.conf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    input {
        width: 100%;
        max-width: 400px;
        text-align: center;
        margin: 10px auto;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        border: 3px solid #fff;
        border-color: #0000 #0000 #fff;
        color: #fff;
        display: block;
        background: #0000;
    }

    label {
        color: #fff;
        padding: 35px;
        font-family: sans-serif;
        max-width: 420px;
        text-align: center;
        margin: auto;
    }
}

#upload {
    display: none;
}

[hide="true"]+.conf {
    margin-top: 150px;
}

[for="upload"] {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    display: block;
    background: -webkit-linear-gradient(left, #f00, #f0f);
    width: 70%;
    max-width: 420px;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin: 25px auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background-position: left;
    font-size: 14px;
    background-size: 640px;
    box-shadow: 0 0 20px -10px #f0f;
    letter-spacing: .1vw;
}

[for="upload"]:hover {
    letter-spacing: .15vw;
    background-size: 460px;
    width: 75%;
    box-shadow: 0 0 20px -5px #f0f;
}