html{
  background-color: #DDDFEE;
  text-align: center;
scroll-behavior: smooth;
    text-decoration: none;




}
@media (orientation: landscape) {
  <!-- Aquí van todos los estilos CSS -->
}
@media (min-width:100%){
  <!—- Aquí van todos los estilos CSS -->
}



.menu {
    float: left;
    margin-top: 10px;
    width: 500px;h1 {
	padding: 80px;
	height: 120px;



}

}
.menu li {




    float: left;
    list-style: none outside none;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
|
}

.menu li:last-child {
    border-right:none;
}
.menu li a {
    color: #000000;
    text-decoration: none;
}
.menu li a:hover {
    color: #9B9A9A;
    text-decoration: none;
}
.menu .current a {
    color: #9B9A9A;
    text-decoration: none;
}
.menu .current a:hover {
    color: #000000;
    text-decoration: none;
}

ul{
  margin-right: 900px;
}


button {


    
    height:50px; 
    color: white;
    width:180px; 
    border-radius: 30PX;
    margin-top: 150px;
    margin-right: 19px;




  }
a{
      text-decoration: none;
size-font:20px;

color: 000;

font-weight: bold;
}